.Alert {
  padding: 5px 10px;
  font-size: $fontSize-small;
  color: $color-white;
  background: $color-grayDark;
  text-align: center;
  border-radius: $borderRadius-rounded;

  &.Alert--danger {
    background: #d93824;
  }

  // We're using anchor directly because
  // Our alert doesn't have any element other
  // than text and, rarely, text links (a)
  a {
    color: $color-white;
    font-weight: bold;
  }
}
