.CommentWidget {
  .CommentWidget-inner {
    margin-bottom: 10px;
    height: 175px;
    overflow-y: scroll;
  }

  .CommentWidget-item {
    margin-bottom: 10px;
  }

  .CommentWidget-itemName {
    @include linkNoUnderscore;
    font-weight: bold;
  }

  .CommentWidget-empty {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    color: $color-gray;
    text-align: center;
  }

  .CommentWidget-form {
    display: flex;
  }

  .CommentWidget-input {
    display: block;
    width: 100%;
    height: $formSize-base;
    padding: ($formSize-base / 5);
    border: 1px solid $color-gray;
  }
}
