.CommentMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .CommentMeta-highlight {
    @include linkNoUnderscore;
    color: $color-blue;
  }

  .CommentMeta-count {
    color: $color-grayDark;
  }
}
