.Footer {
  &.Footer--small {
    font-size: 80%
  }

  .Footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  .Footer-section {
    display: flex;
  }

  .Footer-link,
  .Footer-text {
    color: $color-grayDark;
  }

  .Footer-link {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    @include linkNoUnderscore;
  }
}
