// @NOTE: Refactor to `FormListGroupItem`
// since the containing element serves no purpose
.FormListGroup {
  .FormListGroup-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $color-gray;
  }

  .FormListGroup-label {
    color: $color-gray;
    width: 40%;
  }

  .FormListGroup-input {
    width: 55%;
  }
}
