.MainHeader {
  background: $color-white;
  border-top: $mainHeader-borderSize solid $color-red;
  box-shadow: $backdrop-base;

  .MainHeader-inner {
    display: flex;
    justify-content: space-between;
    height: $mainHeader-height;
  }

  .MainHeader-section {
    display: flex;
    align-items: center;
  }

  .MainHeader-sectionItem:not(:last-child) {
    margin-right: 20px;
  }

  .MainHeader-logoLink {
    @include linkNoUnderscore;
    display: block;
    margin-top: 5px; // Slightly lower the logo
    padding: 30px 20px;
    line-height: 1;
    background: $color-red;
    border-radius: $borderRadius-base;
  }

  .MainHeader-logo {
    width: 50px;
  }

  .MainHeader-link,
  .MainHeader-button {
    padding-bottom: 5px;
    display: block;
    color: $color-orange;
    border-bottom: 2px solid transparent;
  }

  .MainHeader-link {
    @include linkNoUnderscore;
  }

  .MainHeader-link--active {
    color: $color-red;
    border-bottom-color: $color-red;
  }

  .MainHeader-button {
    color: $color-orange;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    border: transparent;
    outline: 0;
  }

  .MainHeader-buttonIcon {
    position: relative;
    margin-left: 10px;
  }

  .MainHeader-separator {
    height: 20px;
    width: 1px;
    background: $color-grayDarker;
  }

  .MainHeader-sidebar {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 90px;
  }

  .MainHeader-sidebar--left {
    left: 20px;
  }

  .MainHeader-sidebar--right {
    right: 20px;
  }

  .MainHeader-notificationBadge {
    margin-left: 10px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    color: $color-white;
    background: $color-red;
    border-radius: 50%;
  }
}
