.MainDrawerNotification {
  .MainDrawerNotification-heading {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .MainDrawerNotification-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 220px;
    border-left: 3px solid transparent;
  }

  .MainDrawerNotification-item:not(:last-child) {
    border-bottom: 1px solid $mainDrawer-logoColor;
  }

  .MainDrawerNotification-item--unseen {
    border-left-color: $color-red;
  }

  .MainDrawerNotification-itemHeading {
    display: flex;
    align-items: center;
  }

  .MainDrawerNotification-itemAvatar {
    margin-right: 10px;
  }

  .MainDrawerNotification-itemAvatarImage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .MainDrawerNotification-itemName {
    line-height: 1;;
    margin-bottom: 0;
  }

  .MainDrawerNotification-itemTime {
    line-height: 1;
    color: $mainDrawer-logoColor;
  }

  .MainDrawerNotification-itemBody {
    margin-left: 40px;
  }

  .MainDrawerNotification-itemAction {
    margin-bottom: 0;
  }

  .MainDrawerNotification-itemDetails {
    color: $mainDrawer-logoColor;
    line-height: 1;
  }

  .MainDrawerNotification-itemThumbnail {
    width: 120px;
    height: 60px;
    border-radius: $borderRadius-base;
  }
}
