.Messenger {
  display: flex;
  height: 600px;
  box-shadow: $backdrop-base;

  .Messenger-sidebar {
    flex-shrink: 0;
    width: 300px;
  }

  .Messenger-conversationWrapper {
    height: 540px; // Messenger.height - Messenger-sidebar.height
    overflow-y: scroll;
  }

  .Messenger-sidebarCanopy,
  .Messenger-conversation {
    background: $color-grayLight;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-right-color: $color-gray;
    border-bottom-color: $color-gray
  }

  .Messenger-sidebarCanopy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

  .Messenger-sidebarCanopyText {
    margin-bottom: 0;
    color: $color-red;
  }

  .Messenger-conversationLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: $color-grayLight;
  }

  .Messenger-conversation {
    @include linkNoUnderscore;
    display: flex;
    align-items: center;
    padding: 25px 15px;
    color: $color-black;
  }

  .Messenger-conversation--active {
    background: $color-white;
    border-right-color: transparent;
  }

  .Messenger-conversationAvatar {
    flex-shrink: 0;
    display: block;
    margin-right: 10px;
    height: 52px;
    width: 52px;
    border-radius: 50%;
  }

  .Messenger-conversationInfo {
    margin-bottom: 0;
    // Required for `textEllipsis` to work
    // for `Messenger-conversationName` and
    // `Messenger-conversationSummary`
    overflow: hidden;
  }

  .Messenger-conversationName,
  .Messenger-conversationSummary {
    @include textEllipsis;
    display: block; // @NOTE: `textEllipsis` sets `display` to `inline-block`
  }

  .Messenger-conversationName {
    margin-bottom: 0;
  }

  .Messenger-panel {
    width: 100%;
    background: $color-white;
  }

  .Messenger-panelInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    // Hide the "overflowing" chatbox container shadow
    overflow: hidden;
  }

  .Messenger-panelCanopy {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    border-bottom: 1px solid $color-grayLight;
  }

  .Messenger-panelCanopyHeading {
    @include linkNoUnderscore;
    color: $color-red;
  }

  .Messenger-panelCanopyHeadingText {
    margin-bottom: 0;
  }


  .Messenger-messageWrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .Messenger-message {
    display: flex;
    padding: 20px 10px;
  }

  .Messenger-messageAvatar {
    display: block;
    flex-shrink: 0;
    margin-right: 15px;
    margin-top: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  .Messenger-messageInfo {
    width: 100%;
    margin-right: 20px;
  }

  .Messenger-messageUser {
    margin-bottom: 0;
  }

  .Messenger-messageText {
    margin-bottom: 0;
    line-height: 1.4;
  }

  .Messenger-messageMeta {
    flex-shrink: 0;
    color: $color-gray;
    width: 175px;
    text-align: right;
  }

  .Messenger-chatboxContainer {
    flex-shrink: 0;
    padding: 10px;
    background: $color-grayLight;
    // @REFACTOR: Turn into a mixin or something
    box-shadow: 0 -1px 5px $color-backdrop;
  }

  .Messenger-chatbox {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    height: 100px;
    width: 100%;
    border: 0;
    resize: none;
    outline: 0;
  }

  .Messenger-chatboxActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
