.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: $zIndex-backdrop;

	.ReactModal__Content {
    position: relative;
    width: 50%;
    margin: 100px auto;
    padding: 15px;
    background: $color-white;
    border-radius: $borderRadius-base;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .14), 0px 4px 8px rgba(0, 0, 0, .28);
    z-index: $zIndex-modal;
	}

  .ReactModal__Content--small {
    width: 35% !important;
  }

  .ReactModal__Content--large {
    width: 75% !important;
  }

  .ReactModal__closeButton {
    position: absolute;
    top: -50px;
    right: -50px;
  }
}
