.ReactModal__Body--open {
  overflow: hidden !important;
}

.ReactModal__Overlay {
  z-index: $zIndex-backdrop;
  background-color: rgba(0, 0, 0, 0.3) !important;

	.ReactModal__Content {
    position: relative;
    width: 50%;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px;
    background: $color-white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .14), 0px 4px 8px rgba(0, 0, 0, .28);
    z-index: $zIndex-modal;
	}

  .ReactModal__Content--small {
    width: 35% !important;
  }

  .ReactModal__Content--large {
    width: 75% !important;
  }

  .ReactModal__closeButton {
    position: absolute;
    top: -50px;
    right: -50px;
  }
}
