.PlainBtn {
  @include linkNoUnderscore;
  display: inline-block;
  padding: 0;
  height: auto;
  line-height: 1;
  font-size: $fontSize-base;
  text-align: center;
  background: transparent;
  border: 0;
}
