.ProductPreviewModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: $zIndex-previewModal;

  .ProductPreviewModal-body {
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .ProductPreviewModal-close {
    position: absolute;
    top: -100px;
    right: 0;
  }
}

.ProductPreviewModalBody {
  overflow: hidden;
}
