.RatingCard {
  padding: 15px;
  border: 1px solid $color-gray;
  border-radius: $borderRadius-base;

  .RatingCard-heading {
    margin-bottom: 10px;
    display: flex;
  }

  .RatingCard-avatar {
    flex-shrink: 0;
    display: block;
    margin-right: 15px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }

  .RatingCard-info {
    margin-right: 15px;
    width: 100%;
  }

  .RatingCard-name {
    font-weight: 400;
    margin-bottom: 5px;
  }

  .RatingCard-meta {
    flex-shrink: 0;
    width: 100px;
    // align-self: flex-end;
    color: $color-gray;
    text-align: right;
  }

  .RatingCard-text {
    margin-left: 63px; // avatar size + margin
    margin-bottom: 0;
    line-height: 1.4;
  }
}
