.Sidebar {
  width: 150px;
  .Sidebar-item {
    @include linkNoUnderscore;
    display: block;
    padding-left: 15px;
    height: 50px;
    line-height: 49px;
    color: $color-black;
    background: transparent;
    border-top-left-radius: $borderRadius-base;
    border-bottom-left-radius: $borderRadius-base;
    transition: 0.12s all;
  }

  .Sidebar-item:hover,
  .Sidebar-item--active {
    color: $color-red;
  }

  .Sidebar-item--active {
    color: $color-white;
    background: $color-red;
  }
}
