.Switchbox {
  display: inline-block;
  // Reset line-height which increases the height a bit
  line-height: 1;

  > input {
    display: none;
  }

  > input:checked + span {
    background: $color-green;
  }

  > input:checked + span::after {
    left: 28px; // (50 - 18 - 3)
  }

  > input:disabled + span,
  > input:disabled + span::after {
    background: $color-white;
  }

  > input:disabled + span {
    cursor: disabled;
  }

  > input:disabled + span {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
  }

  > input:disabled + span::after {
    box-shadow: inset 0 0 2px rgba(0,0,0,0.25);
  }

  > span,
  > span::after {
    transition: 0.2s all;
  }

  > span {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 50px;
    background: $color-white;
    border-radius: $borderRadius-rounded;
    cursor: pointer;
    border: 1px solid $color-gray;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  }

  > span::after {
    @include backdrop;
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: $color-white;
  }
}
