.TagBadge {
  @include linkNoUnderscore;
  padding: 5px;
  color: $color-blue;
  font-size: $fontSize-small;
  background: #eaeaea;
  border-radius: $borderRadius-base;
  transition: 0.1s all;

  &:hover {
    background: darken(#eaeaea, 3%);
  }
}
