.UploadWell {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: $color-grayLighter;
  border-radius: $borderRadius-base;

  .UploadWell-input {
    display: none;
  }

  .UploadWell-item {
    position: relative;
    width: 100px;
    height: 100px;
    background: $color-white;
    border-radius: $borderRadius-base;
    box-shadow: $backdrop-small;
  }

  .UploadWell-item:hover .UploadWell-itemOverlay {
    opacity: 1;
    transform: translateY(0);
  }

  .UploadWell-itemThumbnail,
  .UploadWell-itemOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }

  .UploadWell-itemThumbnail {
    overflow: hidden;
  }

  .UploadWell-itemOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    opacity: 0;
    transform: translateY(-15px);
  }

  .UploadWell-itemRemove {
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 16px;
    width: 16px;
    line-height: 1;
    font-size: $fontSize-base;
    color: $color-white;
    background: $color-black;
    border: 1px solid $color-grayLighter;
    border-radius: 50%;
    transition: 0.15s background;
  }

  .UploadWell-itemRemove:hover {
    background: lighten($color-black, 10%);
  }
}
