.UserListGroup {
	color: $color-black;
	background-color: $color-white;

	.UserListGroup-heading {
		padding: 15px;
		border-bottom: 1px solid $color-gray;
		text-align: center;
	}

	.UserListGroup-heading > * {
		margin: 0;
		font-weight: normal;
		font-size: 32px;
	}

	.UserListGroup-body {
		overflow-y: scroll;
		height: 250px;
    padding-left: 20px;
    padding-right: 20px;
	}

	.UserListGroup-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-top: 10px;
    padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		border-bottom: 1px solid $color-gray;
	}

  .UserListGroup-itemLink {
    @include linkNoUnderscore;
    display: flex;
    align-items: center;
  }

	.UserListGroup-image {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 15px;
	}

	.UserListGroup-details {
		width: 200px;
	}

	.UserListGroup-name,
	.UserListGroup-followers {
		margin: 0;
		font-weight: normal;
	}

  .UserListGroup-name {
    color: $color-black;
  }

	.UserListGroup-followers {
		color: $color-grayDark;
	}

	.UserListGroup-actions {
    flex-shrink: 0;
	}

  .UserListGroup-loader {
    padding-top: 10px;
    padding-bottom: 10px;
  }

	.UserListGroup-footer {
		padding: 25px;
	}
}
